<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Producto a agregar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="crearProductoForm" (submit)="crearProducto()">
    
    <ion-item>
      <ion-label stacked>Titulo</ion-label>
      <ion-input formControlName="titulo" type="text" placeholder="Nombre del producto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Descripcion</ion-label>
      <ion-textarea formControlName="descripcion" type="text" placeholder="Descripcion del producto"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Precio</ion-label>
      <ion-input formControlName="precio" type="number" placeholder="$"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Disponibles</ion-label>
      <ion-input formControlName="cantidad" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Descuento</ion-label>
      <ion-input formControlName="descuento" type="number" placeholder="$"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Imagenes</ion-label>
      <ion-input formControlName="imagenes" type="url"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!crearProductoForm.valid">Enviar</ion-button>

  </form>
</ion-content>
